

    <div class="modal-header">

    <h5 class="modal-title">Cập nhật thông tin mật khẩu</h5>
    <button id="closePopup" type="button" class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
        </div>

        <div class="modal-body">

    <form id="updateChangePassword">
        <div class="row mb-3 form-group">
            <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Mật khẩu mới</label>
            <div class="col-md-8 col-lg-9">
                <input name="newpassword" type="password" class="form-control" id="txtnewPassword">
            </div>
        </div>

        <div class="row mb-3 form-group">
            <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Nhập lại mật khẩu</label>
            <div class="col-md-8 col-lg-9">
                <input name="renewpassword" type="password" class="form-control" id="txtrenewPassword">
            </div>
        </div>

       
    </form><!-- End Change Password Form -->

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">
                Đóng
            </button>
    <button type="button" onclick="changePassword2(false,@Model.Id)" class="btn btn-primary">Lưu</button>
    <button type="button" onclick="changePassword2(false,@Model.Id, true)" class="btn btn-primary">Đặt lại mật khẩu</button>
        </div>

