        <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="/indexAdmin">
                    <i class="bi bi-grid"></i>
                    <span>Static</span>
                </a>
            </li><!-- End Dashboard Nav -->

    
       
      
        <li class="nav-heading">Ứng tuyển</li>

            <li class="nav-item">
                <a class="nav-link " href="/OrderCTV">
                    <i class="bi bi-grid"></i>
                    <span>Theo dõi đơn</span>
                </a>
            </li><!-- End Dashboard Nav -->

    
            <li class="nav-item">
                <a class="nav-link " href="/OrderAssigneeCTV">
                    <i class="bi bi-grid"></i>
                    <span>Danh sách Nguồn (chưa duyệt)</span>
                </a>
            </li><!-- End Dashboard Nav -->

  



            <li class="nav-heading">Nhân sự</li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Quản lý nhân viên</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Employee">
                            <i class="bi bi-circle"></i><span>Danh sách nhân viên</span>
                        </a>
                    </li>

                   
               
                    
                </ul>
            </li><!-- End Tables Nav -->


            <li class="nav-heading">Thông tin chung</li>

            <li class="nav-item">
            <a class="nav-link collapsed" href="/Infomation">
                    <i class="bi bi-person"></i>
                    <span>Thông tin tài khoản</span>
                </a>
            </li><!-- End Profile Page Nav -->
            

            
             <li class="nav-item">
                <a class="nav-link collapsed"  onclick ="logout()" data-bs-toggle="collapse" href="javascript:void(0)">
                    <i class="bi bi-bar-chart"></i><span>Đăng xuất tài khoản</span>
                    
                </a>
                
            </li><!-- End Charts Nav -->
            

        </ul>

    </aside>