        <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">


           <li class="nav-item">
                <a class="nav-link " href="/indexAdmin">
                    <i class="bi bi-grid"></i>
                    <span>Static</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->
             <li class="nav-heading">Việc làm</li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-job" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Quản lý việc làm</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-job" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/job">
                            <i class="bi bi-circle"></i><span>Danh sách Việc làm</span>
                           
                        </a>
                    </li>
                    <li>
                            
                        <a href="/linhvuc">
                                <i class="bi bi-circle"></i><span>Lĩnh vực việc làm</span>
                
                        </a>
                    </li>

                    <li>
                        <a href="/job?action=add">
                            <i class="bi bi-circle"></i><span>Tạo mới việc làm</span>
                            </a>
                    </li>
                    
                </ul>
            </li>

            
           
            <li class="nav-heading">Đối tác và việc làm </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tabPartner" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Quản lý đối tác</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tabPartner" class="nav-content collapse " data-bs-parent="#sidebar-nav2">
                    <li>
                        <a href="/Partner">
                            <i class="bi bi-circle"></i><span>Danh sách đối tác</span>
                        </a>
                    </li>

                     <li>
                        <a href="/Partner?action=add">
                            <i class="bi bi-circle"></i><span>Thêm mới</span>
                        </a>
                    </li>
                    
                </ul>
            </li>

            <li class="nav-heading">Lịch phỏng vấn </li>
                    <li class="nav-item">
                    <a class="nav-link collapsed" href="/MasterDataPage?Type=loai-hdld">
                    <i class="bi bi-bar-chart"></i><span>Danh sách phỏng vấn</span>

                    </a>
            </li>



            <!-- End Tables Nav -->
          <li class="nav-heading">Ứng viên</li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Quẩn lý ứng viên</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/candidate">
                        <i class="bi bi-circle"></i><span>Danh sách ứng viên</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Tables Nav -->

            
            <li class="nav-heading">Nhân sự</li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Quản lý nhân viên</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Employee">
                            <i class="bi bi-circle"></i><span>Danh sách nhân viên</span>
                        </a>
                    </li>

                   
                    <li>
                        <a href="/groupPage">
                            <i class="bi bi-circle"></i><span>Danh sách nhóm</span>
                        </a>
                    </li>
                    
                </ul>
            </li><!-- End Tables Nav -->


            <li class="nav-heading">Thông tin chung</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Infomation">
                    <i class="bi bi-person"></i>
                    <span>Thông tin tài khoản</span>
                </a>
            </li><!-- End Profile Page Nav -->
            

            <li class="nav-heading">Hệ thống</li>
            <li class="nav-item">
                <a class="nav-link collapsed"   href="/setting">
                    <i class="bi bi-bar-chart"></i><span>Cài đặt</span>
                    
                </a>
                
            </li><!-- End Charts Nav -->


        <li class="nav-heading">MasterData</li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/MasterDataPage?Type=loai-hdld">
                <i class="bi bi-bar-chart"></i><span>Loại HĐLĐ</span>

            </a>

            <a class="nav-link collapsed" href="/MasterDataPage?Type=vi-tri-viec-lam">
                <i class="bi bi-bar-chart"></i><span>Vị trí việc làm</span>
            </a>

            <a class="nav-link collapsed" href="/MasterDataPage?Type=bo-phan">
                <i class="bi bi-bar-chart"></i><span>Bộ phận</span>
            </a>
            <a class="nav-link collapsed" href="/MasterDataPage?Type=quan-he-nguoi-than">
                <i class="bi bi-bar-chart"></i><span>quan hệ người thân</span>
            </a>

             <a class="nav-link collapsed" href="/MasterDataPage?Type=trang-thai-ung-vien">
                <i class="bi bi-bar-chart"></i><span>Trạng thái Ứng viên </span>
            </a>

            <a class="nav-link collapsed" href="/MasterDataPage?Type=trang-thai-chung-tu">
                <i class="bi bi-bar-chart"></i><span>trạng thái chứng từ </span>
            </a>

            <a class="nav-link collapsed" href="/MasterDataPage?Type=Loai-chung-tu">
                <i class="bi bi-bar-chart"></i><span>Loại chứng từ </span>
            </a>


        </li><!-- End Charts Nav -->

          <li class="nav-item">
                <a class="nav-link collapsed"  href="/StatusPage">
                    <i class="bi bi-bar-chart"></i><span>Danh sách trạng thái</span>
                    
                </a>
                
            </li>
             <li class="nav-item">
                <a class="nav-link collapsed" onclick ="logout()"  data-bs-toggle="collapse" href="#">
                    <i class="bi bi-bar-chart"></i><span>Đăng xuất tài khoản</span>
                    
                </a>
            </li><!-- End Charts Nav -->
        </ul>

    </aside>